
.photosapp {
    opacity: 0;
    transition: 0.8s all ease;
    &.start {
        opacity: 1;
    }
    .container {
        width: 900px;
        height: 600px;
        border: 1px solid white;
    }
}