@import '../Variables.scss';


.photosComponentContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .mainArea{
        flex-grow: 1;
        display: flex;
        .photoArea {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .photoBox{
                display: flex;
                border: 1px solid #9f9f9f;
                align-items: center;
                justify-content: center;
                .photo {
                    margin: 40px;
                    width: 900px;
                    height: 600px;
                    // background: url('../../public/img/Img_sample_01.jpeg');
                    background-size: cover;
                }
            }
        }
    }

    .scrollArea {
        flex-grow: 0;
        width: 100vw;
        height: 200px;
        border-top: 1px solid #9f9f9f;
    }
}