@import 'Variables.scss';

body{
  color: $primary-font;
  height: 100vh;
  background-color: $primary;
}

#root {
  height: 100vh;
  display: flex;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title {
    position: absolute;
    top: 11%;
    color: $primary-font;
    font-size: 5rem;
    transition: 0.3s all ease;
    user-select: none;
    opacity: 0.7;
    
    &.hidden{
      opacity: 0;
    }
  }
}

