@import 'Variables.scss';

.land {
    fill: $primary-background;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 1;
    transition: .3s all ease;
    cursor: pointer;
    &:hover{
        fill: $primary;
        stroke-width: 3;
    }
    &.hide {
        fill: $primary;
        stroke-width: 3;
        stroke: $primary;
    }
  }